.App {

   text-align: center;
}

body{
   /* background-image: url(imagenes/1274686.jpg); */
   background-color: rgb(13, 13, 31);
   max-width: 100% auto;
   background-size: 100% auto;
   height: auto;
   text-align: center;
}

/* .imagen {
  max-width: 100%;
  height: auto;
} */
   /* background-size: 100% auto; */
   /* width: 100%;
   height: auto; */
   



/* @media(max-width: 800px){
   body{
      background-size: 100% auto;
   }
}
 
@media(max-width: 800px){
   body{
      background-image: url(imagenes\1274686.jpg);
      background-size: cover;
   }
}   */