.navbar {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.boton {
  background-color: #0077cc; /* color de fondo */
  border: none; /* eliminamos el borde */
  color: white; /* color del texto */
  padding: 10px 20px; /* agregamos un poco de espacio interno */
  text-align: center; /* centramos el texto */
  text-decoration: none; /* eliminamos la subrayado del texto */
  display: inline-block; /* hacemos que el botón se comporte como un elemento en línea */
  font-size: 16px; /* tamaño de fuente del texto */
  border-radius: 5px; /* redondeamos las esquinas */
  cursor: pointer; /* cambiamos el cursor a una mano cuando se hace hover */
  transition: background-color 0.3s ease; /* agregamos una transición suave al color de fondo */
}

.boton:hover {
  background-color: #6a1ab5; /* cambiamos el color de fondo cuando se hace hover */
}
